@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen {
  height: 100svh;
}

select {
  appearance: none; /* Removes the default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background: white; /* Removes the background */
}
